#define IDI_KEYTAO_PROFILE 1
#define IDI_KEYTAO_MODE_ZH 2
#define IDI_KEYTAO_MODE_EN 3

IDI_KEYTAO_PROFILE ICON "ime-brand.ico"
IDI_KEYTAO_MODE_ZH ICON "mode-zh.ico"
IDI_KEYTAO_MODE_EN ICON "mode-en.ico"
